*{
	font-size: 14px;
	color: #555555;
}
.redColor{
	color: #F14648;
}
.whiteBorder{
	height: 29px;
	border: 1px solid white;
	border-bottom: 1px solid #E7E7E7;
}
.left{
	float: left;
}
.right{
	float: right;
}
.whiteColor{
	color: white;
}
.greenColor{
	color: #00FF00;
}
.clear{
	clear: both;
}
.blackColor{
	color: #555555;
}
.browColor{
	background: #705743;
}
.hidden{
	display: none;
}
.inline{
	display: inline-block;
}