body{
	margin: 0 auto;
}
#rightToolBar{
	position: fixed;
	z-index: 1000;
	width: 30px;
	height: 100%;
	right: 0;
	top: 0;
	text-align: center;
	background: #0C1021;
	opacity: 0.95;
}
#rightToolBar ul{
	margin-top: 100px;
}
#rightToolBar ul li{
	position: relative;
	display: block;
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#rightToolBar ul li>div{
	position: absolute;
	z-index: -1;
	top: 0;
	right: -92px;
	width: 90px;
	height: 38px;
	background:red ;
	border: 1px solid red;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#rightToolBar ul li>div a{
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
}
#rightToolBar ul li a,span{
	display: block;
	padding: 5px auto;
	color: white;
	font-size: 16px;
}
#rightToolBar ul li:hover{
	background: red;
}
.circleRed{
	display: block;
	border-radius: 100px;
	border: 1px solid red;
	background: red;
	width: 20px;
	height: 20px;
	margin: 4px;
}
.positionBottom{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#header{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}

#toolBar{
	width: 100%;
	margin: 0 auto;
	height: 30px;
	border-bottom: 1px solid #E7E7E7;
}
#toolBarContent{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
#welCome{
	float: left;
}
#welCome li{
	float: left;
	margin: 0 5px;
	line-height: 30px;
}
#info{
	float: right;
}
#info li{
	float: left;
	margin: 0 5px;
	line-height: 30px;
	position: relative;
	z-index: 300;
	background: white;
}
.redAndUnderline a:hover{
	color: #F14648;
	text-decoration: underline;
}

#info li a img{
	float: right;
}

#UserInfo{
	display: none;
	position: absolute;
	width: 200px;
	padding: 10px;
	border: 1px solid #E7E7E7;
	border-top: none;
	margin-left: 0;
	z-index: 100;
	left: -1px;
	background: white;
}
#headImg{
	width: 50px;
	height: 50px;
	border: 1px solid #E7E7E7;
	border-radius: 50px;
	float: left;
	overflow: hidden;
}
#headImg img{
	width: 100%;
	height: 100%;
}
#UserInfo h1{
	float: left;
	display: block;
	margin-left: 10px;
	line-height: 50px;
}
#infoList{
	clear: both;
	float: left;
	/*margin: 50px auto;*/
}
#infoList li{
	width: 90px;
}
#infoList li a{
	display: block;
	width: 100%;
}
#infoList li a:hover{
	color: #F14648;
	text-decoration: underline;
}
#item{
	clear: both;
	float: left;
	margin-top:  10px ;
}
#item li{
	width: 90px;
	background: red;
	text-align: center;
	border-radius: 5px;
}
#item li a{
	display: block;
	width: 100%;
	color: white;
}
#latestAndMore{
	width: 100%;
	border-top: 1px dotted #E7E7E7;
	height: 30px;
	margin: 10px auto;
	padding-top: 10px ;
	/*background: red;*/
	float: left;
}
#latestAndMore a:hover{
	color: #F14648;
	text-decoration: underline;
}
#logoAndSearch{
	width: 100%;
	margin: 10px auto;
	height: 100px;
	/*border-bottom: 1px solid #E7E7E7;*/
	padding: 5px auto;

}
#logoAndSearch >div{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
#search{
	margin: 20px auto;
}
#searchInput{
	margin: 10px auto
}
#searchText{
	border: 1px solid red;
	padding: 5px 20px;
	height: 20px;
	width: 300px;
	margin-right: 0;
	float: left;
	border-right: 0px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
#searchText:focus{
	box-shadow: none;
	outline: 0;
}
#searchSubmit{
	border: 1px solid red;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	float: left;
	width: 100px;
	height: 32px;
	margin-left: 0;
	border-left: 0px;
	background: red;
	color: white;
	font-size: 18px;
}
#hotSearch a:hover{
	color: #F14648;
}
#shoppingCar{
	position: relative;
	width: 150px;
	height: 35px;
	border: 1px solid red;
	border-radius: 50px;
	background: red;
	float: right;
	margin-top: 40px;
	margin-left: 140px;
}
#shoppingCar> a{
	width: 60px;
	text-align: center;
	color: white;
}
#shoppingCar> a:hover{
	color: #0C1021;
}
.shoppingLineHeight{
	float: left;
	margin: 0 10px;
	line-height: 35px;
	/*width: 40px;*/
}
#shoppingCarItem{
	display: none;
	position: absolute;
	opacity: 0.9;
	width: 350px;
	min-height: 30px;
	border: 2px solid red;
	right: 0px;
	top: 35px;
	background: #0C1021;
	z-index: 300;
	padding-bottom: 10px;
}
#itemHead{
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	color: #E0E0E0;
	border-bottom: 1px dotted #E0E0E0;
}
#goodsItem{
	margin: 10px auto;
}
#goodsItem tr{
	height: 40px;
	border-bottom: 1px solid #E0E0E0;
	background: #0C1021;
}
#goodsItem tr a{
	color: white;
}
#goodsItem tr td,th {
	text-align: center;
	color: white;
}
#goodsItem li{
	float: left;
	display: block;
	margin-left: 10px;
	line-height: 30px;
}
#goodsItem img{
	width: 30px;
	height: 30px;
}
#count{
	width: 120px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	background: red;
	border-radius: 50px;
	float: right;
	color: #E0E0E0;
	line-height: 30px;
	text-align: center;
}
#count a{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
}
#count:hover{
	opacity: 0.5;
}
#navigation{
	width: 100%;
	height: 30px;
	margin-top: 20px ;
	border-bottom: 5px solid red;
}

#navigation>div{
	width: 1200px;
	height: 100%;
	margin:  0 auto;
}

#goodsListHead{
	width: 179px;
	height: 100%;
	background: red;
}

#goodsListHead span{
	margin-left: 35px;
	line-height: 30px;
	color: white;
	font-size: 16px;
}
#navigationList{
	float: left;
	margin-left: 10px;

}
#navigationList li{
	height: 30px;
	display: block;
	width: 90px;
	background: white;
	float: left;
	margin: 0 5px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#navigationList li a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	color: black;
	font-size: 15px;
	font-weight: bold;
}
#navigationList li a:hover{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: red;
	color: white;
}
#banner{
	width: 100%;
	height: 442px;
	background: #E9ECEC;
}
#banner>div{
	width: 1200px;
	height: 440px;
	background: #0C1021;
	margin: 0 auto;
}
#catList{
	position: relative;
	width: 177px ;
	height: 438px;
	border: 1px solid red;
	background: #0C1021;
}
#catList li{
	width: 100%;
	height: 35px;
	border-bottom: 1px dotted #606369;
	text-align: center;
}
#catList li a{
	color: white;
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
}
#catList li ul{
	display: none;
	position: absolute;
	left: 177px ;
	top: -1px;
	width: 110px ;
	height: 439px;
	border: 1px solid red;
	z-index: 400;
	background: #0C1021;
	opacity: 0.9;
}
#catList li:hover{
	background: #333333;
}
#catList li:hover ul{
	display: block;
}

#bannerImg{
	position: relative;
	width: 800px;
	height: 440px;
	background: url("../img/bannerimg1.jpg") no-repeat;
	/*background-position-x: 100px;*/
	float: left;
	overflow: hidden;
}
#bannerImg a img{
	position: absolute;
}
.number{
	position: absolute;
	border-radius: 50px;
	font-size: 16px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	bottom: 30px;
	margin-left: 20px;
	background: #002535;
	text-align: center;
	color: white;
	z-index: 200;
}
.numberBgcolor{
	background: #705743;
}
#realBody{
	width: 1200px;
	margin: 20px auto;
	/*background: #002535;*/
	min-height: 200px;
}
#discount{

}
.commentDiv{
	width: 100%;
	height: 265px;
	position: relative;
	margin: 50px auto;
	float: left;
}
.commentH1{
	color: white;
	position: relative;
	top: 2px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	background: #0C1021;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	margin: 0 10px;
	border: 2px solid red;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 0;
}
.commentH1 a{
	color: white;
	font-size: 18px;
	font-weight: bolder;
}
.commentH1 a:hover{
	color: red;
}
.listDiv img{
	float: left;
	width: 236px;
	height: 260px;
	margin-left:3px;
}
.listDiv{
	width: 100%;
	height: 100%;
	padding:7px;
	background: #0C1021;
	float: left;
	border: 2px solid red;
	border-radius: 5px;
}

#footer{
	float: left;
	margin: 50px auto;
	width: 100%;
	min-width: 1200px;
	height: 30px;
	min-height: 30px;
	border-top: 3px solid red;
	/*text-align: center;*/
}
#footer ul{
	display: block;
	margin: 10px 23%;
	float: left;
}
#footer>div{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#footer ul li{
	float: left;
	margin: 10px 5px;
}
#footer ul li a:hover{
	color: red;
	text-decoration: underline;
}
#copyRight{
	clear: both;
	margin: 50px auto;
}